.card-busca {
  max-width: 320px;
  background-color: #FEF7FF;
  border-radius: 12px;
  button {
    width: 100%;
    margin: 0 16px 48px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 12px;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: #1D1B20;
      text-align: center;
    }
  }
}

.homepage {
  .card-wrapper {
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    margin-bottom: 40px;

  }
  h2 {
    font-size: 32px;
  }
}

h1 {
  font-size: 36px;
  padding-top: 50px;
}

.card-busca {
  background-color: #aba3a3b9; /* Cor de fundo do card */
  color: #333; /* Cor do texto */
}

.product-info {
  background-color: #f28500 ; /* Cor de fundo laranja */
  padding: 20px;
  text-align: center;
  h2 {
    margin-top: 10px; /* Remove a margem superior do título */
    color: white; /* Cor do texto do título */
    font-size: 26px;
  }
  p {
    color: white; /* Cor do texto da descrição */
    font-size: 16px;
    margin-top: 25px; /* Espaço entre o título e a descrição */
  }
}
