<div class="product-info">
  <h2>Market Place</h2>
  <p>
    <b>Plataforma para engenheiros de produtos digitais hospedar e compartilhar seus desenvolvimentos.</b>
  </p>
</div>
<section class="homepage">
  <app-container>
    <h1>Produtos</h1>
    <div class="card-wrapper">
      <mat-card class="card-busca" *ngFor="let produto of produtos">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title><h2>{{ produto.nome }}</h2></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ produto.nome }}</p>
          </mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="verDetalhes(produto.nome)" mat-flat-button color="primary">VER DETALHES</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </app-container>
</section>
