.homepage {
  padding: 50px;
}

.intro-text {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.intro-text h1 {
  font-size: 46px;
  margin-bottom: 40px;
}

.intro-text p {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 15px;
}
