<section class="homepage">
  <app-container>
    <div class="intro-text">
      <h1>Bem-vindo ao Projeto Main</h1>
      <p>A plataforma dedicada aos engenheiros e desenvolvedores de Produtos Digitais da nossa Companhia.</p>
      <p>Nosso objetivo é fornecer um espaço colaborativo e inovador onde você pode compartilhar e descobrir produtos digitais de alta qualidade.</p>
      <p>Na era digital em que vivemos, a inovação é fundamental. É por isso que o Projeto Main existe: para facilitar a troca de ideias, o compartilhamento de conhecimento e o desenvolvimento de soluções que impulsionem o futuro digital da nossa Companhia.</p>
      <p>Explore nossa plataforma para encontrar uma variedade de produtos digitais criados pelos seus colegas engenheiros. Desde aplicativos móveis a soluções web, passando por ferramentas de automação e muito mais, aqui você encontrará uma ampla gama de produtos para inspirar e impulsionar o seu trabalho.</p>
      <p>Além disso, o Projeto Main oferece uma oportunidade única para você compartilhar seus próprios produtos digitais. Ao hospedar suas criações em nossa plataforma, você não apenas aumenta sua visibilidade dentro da Companhia, mas também contribui para a construção de um ecossistema digital mais colaborativo e inovador.</p>
      <p>Junte-se a nós no Projeto Main e faça parte dessa comunidade de engenheiros apaixonados por tecnologia e inovação. Vamos construir juntos um futuro digital melhor, mais inteligente e mais conectado.</p>
    </div>
  </app-container>
</section>
