<section class="homepage">
  <app-container>
    <div class="product-details">
    <h2>{{ produto.nome }}</h2>
    <p class="description"><strong>Breve Descrição:</strong> {{ produto.descricao }}</p>
    <p class="description"><strong>Descrição Completa:</strong> {{ produto.descricao }}</p>
  <p><strong>Público-alvo:</strong> {{ produto.publicoAlvo }}</p>
  <p><strong>Maturidade do Produto:</strong> {{ produto.maturidade }}</p>
  <p><strong>Quantidade de Usuários Ativos:</strong> {{ produto.quantidadeUsuariosAtivos }}</p>
  <p><strong>Documentação de Consumo:</strong> {{ produto.documetacaoConsumo }}</p>
</div>
</app-container>
</section>
