.product-details {
  margin: 20px;
  padding: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  line-height: 2.5; /* Aumenta o espaçamento entre as linhas */
}

.product-details h2 {
  font-size: 44px;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 32px;
  margin-bottom: 10px; /* Aumenta o espaçamento entre os parágrafos */
}

.product-details .description {
  font-style: italic;
}

.product-details strong {
  font-weight: bold;
}
